<!Doctype html>
<html lang = "en">


<head>
    <meta charset = "UTF-8">
    <meta http-equiv = "X-UA-COMPATIBLE" content = "IE=edge">
    <meta name = "viewport" content = "width = device-width,initial-scale=1.0">
    <link rel = "stylesheet" href="registerstyle.css">
    <link href="Poppins.css" rel="stylesheet" type="text/css">

</head>

<body>
    <header>
        <h2 class="LOGO">AICTE</h1>
        <img src="aictefull-removebg-preview.png"></img>
        <nav class = "navigation">
            <a href = "#">HOME</a>
            <a href = "#">INFO PAGE</a>
            <button class="btn-login">LOGIN</button>
        </nav>
    </header>
<div class="wrapper1">
    <div class="form-box">
        <h2>REGISTER</h2>
        <form action="#">
            <div class="input-box1">
                <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                
                <input type="text" required>
                <label>Username</label>

            </div>
            <div class="input-box2">
                <span class="icon"><ion-icon name="phone-portrait-outline"></ion-icon></span>
                
                <input type="number" required>
                <label>Phone Number / Aadhar no.</label>

            </div>
            <div class="input-box3">
                <span class="icon"><ion-icon name="mail-open-outline"></ion-icon></span>
                
                <input type="email" required>
                <label>Email id</label>

            </div>
            <div class="input-box4">
                <span class="icon"><ion-icon name="lock-open-outline"></ion-icon></span>
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="login-register2">
                <label for="cars">Choose type of user  : </label>
                <select name="cars" id="cars">
                    <option value="volvo"> Educator</option>
                    <option value="saab"> Curriculum designer</option>
                    
                </select>
                <br><br>
            </div>
            

            </div>
            <button type="submit" class="btn">Register</button>
            <div class="login-register">
                <br></br>
                <p>Already have an account ? <a href="#file:///E:/SIH%20frontend/index2.html#" class="register-link">Login</a></p>
            </div>
        </form>

    </div>
</div>




<script src="scriptreg.js" ></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>